$txt-exsm: rem(12);
$txt-sm: rem(15);
$txt-normal: rem(16);
$txt-exmd: rem(18);
$txt-md: rem(20);
$txt-lg: rem(25);
$txt-exlg: rem(30);
$h1: rem(65);
$h2: rem(50);
$h3: rem(35);
$h4: rem(30);
$h5: rem(25);
