/* $txt-exsm: rem(12);
$txt-sm: rem(15); */
/* $txt-exmd: rem(18);
$txt-md: rem(20);
$txt-lg: rem(25);
$txt-exlg: rem(30); */
/* $h5: rem(25); */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  box-sizing: border-box;
}

/* $path: "../assets/fonts/GraphikLCG";
$fontGraphic: "Graphik LCG";

@include font-face($fontGraphic, "GraphikLCG-Regular", $path);
@include font-face($fontGraphic, "GraphikLCG-Semibold", $path, 600); */
.theme-dark {
  background: linear-gradient(228.57deg, #323264 11.93%, #323264 57.17%, #643e72 87.46%);
}
.theme-dark .txt-primary {
  color: #ffffff;
}

.theme-light {
  background-color: #ffffff;
}
.theme-light .txt-primary {
  color: #323264;
}

html {
  font-family: "Graphik LCG", sans-serif;
}

.section-gradient {
  min-height: 100vh;
  border-radius: 0 0 12px 12px;
  position: relative;
  margin-bottom: 20px;
}
.section-gradient__shadow {
  position: absolute;
  height: 10px;
  border-radius: 0 0 12px 12px;
}
.section-gradient__shadow_1 {
  bottom: -10px;
  width: calc(100% - 40px);
  background-color: #cacadb;
  left: 20px;
}
.section-gradient__shadow_2 {
  bottom: -20px;
  width: calc(100% - 80px);
  left: 40px;
  background-color: #e7e7f2;
}

.main-wrap {
  min-height: 100vh;
  position: relative;
}
.main-wrap__bg {
  position: absolute;
  min-height: 100%;
  display: flex;
  justify-content: center;
  width: 100%;
  overflow-x: hidden;
}
.main-wrap__bg-object {
  position: absolute;
  height: 100%;
}